@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using CowboyCafe.Data;
<!--
Welcome message from Cowboy Cafe-->
<div class="Welcome">
    <h1>Cowboy Cafe</h1>
    <p>
        We at Cowboy Cafe are proud to bring you authentic trail meals from the American West. Shake off the
        dust on your boots and sake your thirst with one of our old-fashioned hand-jerked sodas. Dip your Pan de
        Campo into a bowl of beans. Or conquer the the mighty Texas Triple Burger! You’ve had a hard ride - so
        take it easy with us.
    </p>
</div>

<!--
Displays all entrees from Cowboy Cafe menu. 
    Includes price and calories-->
<div class="Entree">
    <h2>Entree</h2>
    @foreach (IOrderItem i in Menu.Entree())
    {
        <div class="menu-item">
            <h3>@i</h3>
            <div>@string.Format("{0:C}", ((Entree)i).Price)</div>
            <div>@(((Entree)i).Calories) Calories</div>
        </div>
    }
</div>

<!--
Displays all side from Cowboy Cafe menu.
    Includes price and calories for each size-->
<div class="Sides">
    <h2>Sides</h2>
    @foreach (IOrderItem i in Menu.Side())
    {
        <div class="menu-item">
            @if (i is BakedBeans)
            {
                <h3>Baked Beans</h3>
            }
            @if (i is ChiliCheeseFries)
            {
                <h3>Chili Cheese Fries</h3>
            }
            @if (i is CornDodgers)
            {
                <h3>Corn Dodgers</h3>
            }
            @if (i is PanDeCampo)
            {
                <h3>Pan de Campo</h3>
            }
            @foreach (Size s in (Size[])Enum.GetValues(typeof(Size)))
            {
                @(((Side)i).Size = s)
                <div>@string.Format("{0:C}", ((Side)i).Price)</div>
                <div>@(((Side)i).Calories) Calories</div>
            }
        </div>
    }
</div>

<!--
Displays all drinks from Cowboy Cafe menu.
    Includes price and calories for each size-->
<div class="Drinks">
    <h2>Drinks</h2>
    @foreach (IOrderItem i in Menu.Drink())
    {
        <div class="menu-item">
            @if (i is CowboyCoffee)
            {
                <h3>Cowboy Coffee</h3>
            }
            @if (i is JerkedSoda)
            {
                <h3>Jerked Soda</h3>
            }
            @if (i is TexasTea)
            {
                <h3>Texas Tea</h3>
            }
            @if (i is Water)
            {
                <h3>Water</h3>
            }
            @foreach (Size s in (Size[])Enum.GetValues(typeof(Size)))
            {
                @(((Drink)i).Size = s)

                <div>@string.Format("{0:C}", ((Drink)i).Price)</div>
                <div>@(((Drink)i).Calories) Calories</div>
            }
        </div>
    }
</div>